<div class="parent">
  <div class="index-search-bar">
    <div class="trip-index-links">
      <%= link_to icon('fa-solid', 'chevron-left'),  user_path(current_user), class: 'btn' %>
      <%= link_to icon('fa-solid', 'plus'),  new_trip_path, class: 'btn' %>
    </div>
    <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-bar", placeholder: "Search Your Trips" %>
      <%= submit_tag "search", class: "search-button" %>
    <% end %>
  </div>
  <div class="upcoming-trips">
    <h1>upcoming</h1>
    <div class="upcoming-trip-cards">
      <% @upcoming_trips.each do |trip| %>
      <%= link_to trip_path(trip) do %>
        <div class="trip-index-card">
          <h5><%= trip.trip_name %></h5>
          <h5><%= trip.start_date %></h5>
          <h5><%= trip.destination %></h5>
        </div>
        <% end %>
      <% end %>
      <%= link_to new_trip_path do %>
      <div id="trip-index-new">
        <h1>New Trip</h1>
      </div>
      <% end %>
    </div>
  </div>
  <div class="past-trips">
    <h1>past</h1>
    <div class="upcoming-trip-cards">
      <% @past_trips.each do |trip| %>
        <%= link_to trip_path(trip) do %>
          <div class="trip-index-card">
            <h5><%= trip.trip_name %></h5>
            <h5><%= trip.start_date %></h5>
            <h5><%= trip.destination %></h5>
            <%= link_to "Delete Trip", trip_path(trip), data: {turbo_method: :delete} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
